.nav .nav3 a{width:56px;}
.nav-nav2{height:510px;margin-left: 13px;overflow:auto;}
.bd-top{border-top:1px dashed #e8e8e8;}
.goods li{width:350px;height:70px;padding:15px 0;}
.goods .goods1:hover,.goods .goods1:active{background:#F9F9F9;}
.goods-intro{width:270px;height:70px;margin-left:10px;}
.intro1 a{height:30px;line-height:10px;color:#313131;}
.intro1 a:hover,.intro1 a:active{color:#ff464e;}
.intro2{width:170px;height:35px;font-size: 10px;margin-top:5px;}
.int-cr{color:#ff464e;}
.intro2 .int1{font-size: 12px;padding-right: 5px;}
.intro2 .int2{background:#9fd78b;color:#fff;padding:0 4px;border-radius: 1px;-webkit-border-radius: 1px;-moz--border-radius: 1px;}
.intro2 .int3{font-size:8px;color:#313131;}
.intro2 .int4,.intro3 .int5{font-weight: bold;}
.intro3{height:32px;line-height:14px;font-size: 10px;margin-right: 7px;padding-top: 8px;}
.intro3 .int5{font-size:18px; }
.intro3 .int6{text-decoration:line-through;padding-left: 40px; }

.mui-switch {
  width: 45px;
  height: 25px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none; 
  cursor:pointer;
}
  .mui-switch:before {
    content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
  .mui-switch:checked {
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63; }
    .mui-switch:checked:before {
      left: 21px; }
  .mui-switch.mui-switch-animbg {
    transition: background-color ease 0.4s; }
    .mui-switch.mui-switch-animbg:before {
      transition: left 0.3s; }
    .mui-switch.mui-switch-animbg:checked {
      box-shadow: #dfdfdf 0 0 0 0 inset;
      background-color: #64bd63;
      transition: border-color 0.4s, background-color ease 0.4s; }
      .mui-switch.mui-switch-animbg:checked:before {
        transition: left 0.3s; }
  .mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s; }
    .mui-switch.mui-switch-anim:before {
      transition: left 0.3s; }
    .mui-switch.mui-switch-anim:checked {
      box-shadow: #64bd63 0 0 0 16px inset;
      background-color: #64bd63;
      transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s; }
      .mui-switch.mui-switch-anim:checked:before {
        transition: left 0.3s; }