/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font-size:12px;font-family:'Microsoft YaHei',Tahoma,Helvetica,'宋体',sans-serif,\5b8b\4f53;color:#707070;outline:0;}
a{color:#707070;}

/* css common*/
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.fl{float:left;}
.fr{float:right;}
img{display:block;}
.wth{width:380px;height:600px;background:#fff;margin:0 auto;}
a:hover,a:active{color:#ff464e;}
i{display:inline-block;}
/*hd部分*/
.hd{width:380px;height:34px;border-bottom:1px solid #a2a2a2; padding:8px 0;}
.logo{width:165px;margin-left:10px;background: url(../images/logo.png) no-repeat;}
.logo a{display:block;width:165px;height:34px;}
.search{width:205px;margin-top: 3px;}
.search-text{width:135px;height:29px;border:1px solid #ff464e;padding-left: 5px;}
.search-btn{width:50px;height:31px;font-weight:bold;color:#fff;cursor:pointer;background:#ff464e;border:1px solid #ff464e;}
/*nav部分*/
.nav{height:34px;line-height:34px;font-size: 14px;color:#707070;margin:0 15px;}
.nav .nav1{width:120px;background: url(../images/a.png) no-repeat left;padding-right:70px;}
.nav1 p{padding-left: 20px;}
.nav1 p span{color:#ff464e;}
.nav .nav1 a:hover,.nav .nav1 a:active{color:#ff464e;border:none;}
.nav .nav2 a{width:74px;}
.nav .nav3 a{width:56px;}
.nav li a{display: block;height:32px;}
.nav-hover a{border-bottom: 2px solid #ff464e;color:#ff464e ;}